<!DOCTYPE html>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% include 'manager/nav.html' %}
    {% block content %}

    <p style="margin: 20px;">Total Items: {{ item_count }}</p>
    {% for item in itemList %}
    
    <center>
    <div id="items" style="border: 1px solid black; margin: 10px; width: 50vw; margin-top: 10px;">
        <div style="margin: 20px;">
            <p style="font-weight: bold;">{{ item.name }}</p>
            <p style="word-wrap: break-word; font-size: 13px;">{{ item.description }}</p>
            <a href="{% url 'update-item' item.id %}" class="btn btn-info btn-sm align-left">edit</a>
            <a href="{% url 'delete-item' item.id %}" class="btn btn-danger btn-sm align-right">delete</a>
        </div>
    </div>
    </center>
    {% endfor %}
 

   

    {% endblock %}
</html>